<template>
    <div>
        <h1>Ideil Test SPA</h1>
        <p>
            <router-link :to="{ name: 'home' }">Google Map</router-link> |
            <router-link :to="{ name: 'places' }">Places</router-link>
        </p>

        <div>
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {

        methods:{
            initMap(id, zoom, center) {
                center = center || {lat: defaultLat, lng: defaultLng};
                zoom = zoom || 14;

                var map = new google.maps.Map(document.getElementById(id), {
                    center: center,
                    zoom: zoom,
                    maxZoom: 16,
                    minZoom: 10,
                    mapTypeControlOptions: {
                        position: google.maps.ControlPosition.BOTTOM_RIGHT
                    },
                    fullscreenControl: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    styles: mapStyles,
                    clickableIcons: false
                });

                return map;
            }
        }
    }
</script>
