<template>
    <div class="App"/>
</template>

<script>
    import axios from 'axios';
    import gmapsInit from '../gmaps';
    import MarkerClusterer from '@google/markerclusterer';

    export default {
        name: 'App',

        data() {
            return {
                url: document.location.origin + '/',

            };
        },

        async mounted() {
            try {
                const google = await gmapsInit();
                const geocoder = new google.maps.Geocoder();
                const map = new google.maps.Map(this.$el);

                axios.get('/api/places')
                    .then(response => {
                        const locations = response.data.data;
                        var activeInfoWindow;
                        const markerClickHandler = (marker, infoWindow) => {
                            if (activeInfoWindow) { activeInfoWindow.close();}

                            var content ='<div id="content"><div id="bodyContent"><img  src="/storage/loading.gif" /></div></div>';
                            infoWindow.setContent(content);
                            infoWindow.open(map, marker);
                            axios.get('/api/places/content', {params:{
                                id: marker.id
                                }})
                                .then(response => {
                                    infoWindow.setContent(response.data);
                                })
                                .catch (error => {
                                    console.log(error);
                                });
                            activeInfoWindow = infoWindow;

                            history.replaceState(null, null, this.url + marker.slug);
                        };

                        const markers = locations
                            .map((location) => {
                                const marker = new google.maps.Marker({ ...location, map });
                                const infoWindow = new google.maps.InfoWindow({ ...location.infoOptions, map });
                                marker.addListener(`click`, () => markerClickHandler(marker, infoWindow));
                                if(marker.slug == this.$route.params.slug){
                                    map.setZoom(10);
                                    map.setCenter(marker.getPosition());
                                    markerClickHandler(marker, infoWindow);
                                }
                                return marker;
                            });

                        new MarkerClusterer(map, markers, {
                            imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m',
                        });
                    });

                geocoder.geocode({ address: 'Ukraine' }, (results, status) => {
                    if (status !== 'OK' || !results[0]) {
                        throw new Error(status);
                    }

                    map.setCenter(results[0].geometry.location);
                    map.fitBounds(results[0].geometry.viewport);
                });
            } catch (error) {
                console.error(error);
            }
        }
    };
</script>

<style>
    html,
    body {
        margin: 0;
        padding: 0;
    }

    .App {
        width: 100vw;
        height: 80vh;
    }
</style>
