<template>
    <div class="item p-5">
        <div class="row">
            <div class="col-4 shadow p-2">
                <h1>{{place.name}}</h1>
                <div class="info">
                    <p><b>Description:</b> {{place.description}}</p>
                    <p><b>Rating:</b> {{place.rating}}</p>
                    <p><b>Likes:</b> {{place.likes}} | <span style="cursor:pointer;" @click="likes('likes')">👍</span></p>
                    <p><b>Dislikes:</b> {{place.dislikes}} | <span style="cursor:pointer;" @click="likes('dislikes')">👎</span></p>
                </div>
            </div>
            <div class="col-8 shadow p-2">
                <h3>Gallery</h3>
                <div class="info">
                    <div class="d-inline" v-for="(image, index) in place.images">
                        <img :src="image.path" alt="" class="d-inline-block" style="max-width: 50%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 1.5rem;">
            <div class="col-12 shadow p-2">
                <h3>Comments</h3>
                <div class="info" v-if="place.comments != undefined && place.comments.length > 0">
                    <div class="d-inline" v-for="(comment, index) in place.comments">
                        <p>{{comment.comment}}</p>
                    </div>
                </div>
                <div v-else>No comments yet...</div>
            </div>
        </div>
        <div class="row" style="margin-top: 0.5rem;" v-if="showForm == true">
            <div class="col-12 shadow p-2">
                <h3>Add new comment</h3>
                <div class="info text-center">
                    <p><textarea cols="50" rows="10" v-model="newComment"></textarea></p>
                    <p><input class="btn btn-success" type="button" value="Send" @click="sendComment()"></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import BootstrapVue from 'bootstrap-vue'

    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'

    export default {
        name: 'App',

        data() {
            return {
                place: {},
                newComment: '',
                showForm: true,
            };
        },

        mounted() {
           this.getData();
        },
        methods:{
            getData(){
                axios.get('/api/places/'+this.$route.params.slug)
                    .then(response => {
                        this.place = response.data.data;
                    });

                var user_token = this.getCookie('userToken');
                if(user_token == undefined){
                    axios.get('/api/users/token')
                        .then(response => {
                            user_token = response.data;
                            this.setCookie('userToken', response.data, { expires: 3600 * 24 * 30 });
                        });
                }
            },
            getCookie(name) {
                var matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                ));
                return matches ? decodeURIComponent(matches[1]) : undefined;
            },
            setCookie(name, value, options) {
                options = options || {};

                var expires = options.expires;

                if (typeof expires == "number" && expires) {
                    var d = new Date();
                    d.setTime(d.getTime() + expires * 1000);
                    expires = options.expires = d;
                }
                if (expires && expires.toUTCString) {
                    options.expires = expires.toUTCString();
                }

                value = encodeURIComponent(value);

                var updatedCookie = name + "=" + value;

                for (var propName in options) {
                    updatedCookie += "; " + propName;
                    var propValue = options[propName];
                    if (propValue !== true) {
                        updatedCookie += "=" + propValue;
                    }
                }

                document.cookie = updatedCookie;
            },
            sendComment(){
                if(this.newComment.length > 0){
                    axios.post('/api/comments/store', {
                        text: this.newComment,
                        user: this.getCookie('userToken'),
                        place_id: this.place.id,
                    })
                    .then(response => {
                        this.getData();
                        this.newComment = null;
                        this.showForm = false;
                    })
                    .catch(error => {
                        alert('You can\'t add comment now, or you already comment this place');
                    });
                }else{
                    alert('Please, write your comment');
                }
            },
            likes(type){
                if( this.getCookie(type+'_'+this.place.id) == undefined){
                    this.setCookie(type+'_'+this.place.id, true, { expires: 3600 * 24 * 30 });
                    if(type == 'likes'){
                        this.setCookie('dislikes_'+this.place.id, true, { expires: -1 });
                    }else{
                        this.setCookie('likes_'+this.place.id, true, { expires: -1 });
                    }
                    var action = 'add';
                }else{
                    this.setCookie(type+'_'+this.place.id, true, { expires: -1 });
                    var action = 'remove';
                }
                    axios.post('/api/places/likes', {
                        place_id: this.place.id,
                        type: type,
                        action: action,
                    })
                    .then(response => {
                        this.getData();
                    });
            },
        }

    }
</script>
