<template>
    <div>
       <div class="row justify-content-center font-weight-bold p-2">
           <div class="col-3">Name</div>
           <div class="col-1">Position</div>
           <div class="col-1">Rating</div>
           <div class="col-4">Description</div>
           <div class="col-2"></div>
       </div>
        <div class="row justify-content-center font-weight-bold p-2" v-for="(place, index) in places.data">
            <div class="col-3">{{place.name}}</div>
            <div class="col-1">{{place.position.lat}}<br>{{place.position.lng}}</div>
            <div class="col-1">{{place.rating}}</div>
            <div class="col-4">{{place.description}}</div>
            <div class="col-2"><router-link :to="{ path: 'places/'+place.slug }" class="btn btn-success">Show</router-link></div>
        </div>
        <pagination :data="places" @pagination-change-page="getResults"></pagination>
    </div>
</template>


<script>
    import axios from 'axios';
    import BootstrapVue from 'bootstrap-vue'

    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'

    export default {
        name: 'App',

        data() {
            return {
                places: {},
            };
        },

        mounted() {
            axios.get('/api/places', { params:{ paginate: true}})
                .then(response => {
                    this.places = response.data;
                });
        },
        methods:{
            getResults(page = 1) {
                axios.get('/api/places', { params:{
                        paginate: true,
                        page: page,
                    }})
                    .then(response => {
                        this.places = response.data
                    });
            },
        }

    }
</script>

