<template>
    <div>
        <div v-if="comments.length > 0">
            <div class="form-group d-inline-block" v-for="(comment, index) in comments">
                <label>Active:
                    <input type="checkbox" :checked="comment.active" @change="active($event, comment.id)">
                </label>
                <div>{{comment.comment}}</div>
            </div>
        </div>
        <div v-else>
            <p>No comments yet...</p>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                comments: []
            };
        },
        props: {
            itemId: { required: true }
        },
        created() {
            this.getComments();
        },
        methods: {
            getComments() {
                if (this.itemId > 0) {
                    var params = { params: { id: this.itemId } };
                } else {
                    var params = [];
                }

                axios
                    .get("/api/places/comments", params)
                    .then(response => {
                        if (response.data.data !== undefined) {
                            this.comments = response.data.data;
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            active($event, id) {
                var value = $event.target.checked;
                axios
                    .post(`/api/comments/edit`, {
                        id: id,
                        type: 'active',
                        value: value
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
        }
    };
</script>
