<template>
    <div class="panel panel-success">
        <div class="panel-body padding-15">
            <span class="btn btn-file mb-20">
                <input @change="sync" name="img" type="file" multiple>
            </span>
            <div class="gallery">
                <div class="row m-1" v-for="(image, index) in images">
                    <div class="gallery__img col-6" >
                        <img class="d-block" style="width: 100%;" :src='image.path' alt="">
                        <input type="hidden" :name="'images['+index+']'" :value="image.path">
                    </div>
                    <div class="gallery__btns col-6">
                        <button
                            class="btn btn-danger"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-original-title="Delete"
                            type="button" @click="deleteImg(index)"
                        >
                            Delete
                        </button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                images: []
            };
        },
        props: {
            itemId: { required: false },
            controller: { required: true },
            imagesFolder: { required: true }
        },
        mounted() {
            this.getImages();
        },
        methods: {
            sync(e) {
                let input = e.target;
                if (input.files[0]) {
                    for (let i = 0; i < input.files.length; i++) {
                        this.image = e.target.files[i];

                        var data = new FormData();
                        data.append("image", this.image);
                        data.append("folder", this.imagesFolder);

                        axios.defaults.headers.post["Content-Type"] = "multipart/form-data";
                        axios.post("/api/images/upload", data)
                            .then(response => {
                                this.images.push({
                                    path: response.data
                                });
                            })
                            .catch(error => {
                                console.log('Error!')
                            })

                    }
                }
            },
            getImages() {
                if (this.itemId > 0) {
                    var params = { id: this.itemId };
                } else {
                    var params = [];
                }

                axios
                    .post("/api/" + this.controller + "/images", params)
                    .then(response => {
                        if (response.data.data !== undefined) {
                            this.images = response.data.data;
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            deleteImg(index) {
                this.images.splice(index, 1);
            }
        }
    };
</script>
